
   <section id="content">
      <div id="mason-layout" class="transitions-enabled fluid">
         <% @posts.each do |post| %>
            <div class="boxed-mason col2">
               <div class="content-container ">
                  <div class="featured-media">
                     <%= image_tag post.image_url(:large),class: "attachment-progression-thumb-retina wp-post-image" %>
                     <div class="media-overlay"> <span class="category-index"><a href="category/world-news/index.html" rel="category tag"><%= post.category.name %></a></span></div>
                     <div class="gradient-overlay"></div>
                  </div>
                  <div class="featured-summary">
                     <h2><%= link_to post.name, home_show_path(id: post.id), data_disqus_dentifier:"myunique_page_identifier" %></h2>
                     <p><%= truncate( raw( sanitize(post.description, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 130, :omission => "...") %></p>

                     <div class="meta-data-index"> 
                        <span class="time-posted-mini">
                           <a href="2013/02/index.html">
                              <% if post.created_at > Time.now.beginning_of_day %>
                                 <%="#{time_ago_in_words(post.created_at)} ago"%> 
                              <% else %> 
                                 <%= post.created_at.strftime("%b %d, %Y") %>
                              <% end %>
                           </a>
                    <!--     </span>

                                                 <span class="comments-mini">
                                       <a href="2013/02/nasa-launches-next-gen-landsat-spacecraft/index.html#comments" title="Comment on NASA Launches Next-Gen Landsat Spacecraft">
                                          2
                                       </a>
                        </span> -->

                     </div>
                  </div>
               </div>
            </div>
          <% end %>
         <div class="clearfix"></div>
      </div>
      <script>jQuery(document).ready(function($){var $container=$('#mason-layout');$container.imagesLoaded(function(){$container.masonry({itemSelector:'.boxed-mason'});});$('#mason-layout').masonry({itemSelector:'.boxed-mason',columnWidth:294});$container.infinitescroll({navSelector:'#page-nav',nextSelector:'#page-nav a',itemSelector:'.boxed-mason',loading:{msgText:'Loading new posts...',finishedMsg:'No more posts to load.',img:'http://i.imgur.com/6RMhx.gif'}},function(newElements){var $newElems=$(newElements).css({opacity:0});$newElems.imagesLoaded(function(){$newElems.animate({opacity:1});$container.masonry('appended',$newElems,true);$("a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:5000,autoplay_slideshow:false,opacity:0.80,show_title:false,allow_resize:true,default_width:500,default_height:344,counter_separator_label:'/',theme:'pp_default',horizontal_padding:20,hideflash:false,wmode:'opaque',autoplay:false,modal:false,deeplinking:false,overlay_gallery:false,keyboard_shortcuts:true,ie6_fallback:true,social_tools:''});$('.flexslider').flexslider({animation:"fade",slideDirection:"horizontal",slideshow:false,slideshowSpeed:7000,animationDuration:200,directionNav:true,controlNav:true});});});$(window).unbind('.infscr');jQuery("#page-nav a").click(function(){jQuery('#mason-layout').infinitescroll('retrieve');return false;});$(document).ajaxError(function(e,xhr,opt){if(xhr.status==404)$('#page-nav a').remove();});});</script>
      <div class="load-more-manual">
         <%= will_paginate @posts %>
      </div>
      <div class="clearfix"></div>
      
   </section>
   <div class="clearfix"></div>
<section id="page-content" style="padding:0px;bottom:0px;">
<div class="copyright_info">
<div class="container">

   <div class="clearfix divider_dashed10"></div>
    
    <div class="one_half animate fadeInRight" data-anim-type="fadeInRight">
    <div style="padding-left:40px;">
        Copyright © 2014 hoxa.com. All rights reserved.  <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></div>
    </div>
    
</div>
</div>
</section>